<!-- signup.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Inscription </title>
    <style>
        .background-image {
            background-image: url("{% static 'images/Default_Je_dsire_une_image_raliste_en_4K_avec_une_ambiance_ver_1.jpg' %}");
            background-size: cover;
            background-position: center;
            filter: blur(10px); /* Ajout du flou */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Pour placer l'image en arrière-plan */
        }
    </style>
</head>
<body>
    <div class="background-image"></div>
    <div class="content">
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
        <a href="{% url 'index' %}" class="btn-retour">Retour</a>
    </div>
</body>
</html>
